<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("MetaHeader", false)
</head>
<body class="hold-transition sidebar-collapse">
<div class="wrapper">
    <footer class="main-footer">

    </footer>
</div>
<!-- ./wrapper -->


<script src="~/js/site.js"></script>
<script>

</script>
@RenderSection("Scripts", false)
</body>
</html>